.folder,
.file {
  align-items: center;
  cursor: pointer;
  font-size: 1.3rem;
}

.box {
  display: flex;
  justify-content: space-between;
}
.delBtn {
  margin-left: 1rem;
  background-color: rgba(236, 236, 236);
  cursor: pointer;
  font-size: 1.5rem;
}
.delBtn:hover {
  color: rgba(94, 126, 176);
}
.title {
  outline: none;
  width: 100%;
  cursor: pointer;
  background-color: rgba(236, 236, 236);
  padding-left: 13px;
  padding-top: 5px;
  font-size: 1.5rem;
}
.title:hover {
  color: #a2a2a2;
}
.title:hover .delBtn {
  color: black;
}
.file-img {
  transform: translate(6px, 3px);
}
.focused {
  list-style-type: "⌵";
}
.hide {
  display: none;
}
.sub-container {
  overflow: hidden;
}
.sub-files {
  transition: transform 0.5s ease-in-out;
}
.show {
  transform: translateY(-100%);
}
