.file-title {
  font-size: 5rem;
  margin: 0;
}

.breadcrumb {
  font-size: 1.5rem;
  color: rgb(39, 39, 39);
}
.file-save {
  text-align: right;
  font-size: 1.5rem;
}
.file-save button {
  padding: 1rem;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(23, 23, 23);
  color: #fff;
}

textarea {
  width: 100%;
  height: 83vh;
  padding: 1rem;
  font-size: 1.7rem;
  resize: none;
  outline: none;
  border: none;
  overflow-y: scroll;
  opacity: 0.5;
}
